.header {
    display: flex;
    padding: 28px 64px;
    align-items: center;
    gap: 450px;
    margin: 0 auto;
    width: 1440px;
    border-bottom: 1px solid var(--color-bg-lighter);
}

.logo {
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    gap: 32px;
}

.item {
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: var(--color-primary-dark);
}


.link {
    transition: color 0.3s ease;
}

.link:hover,
.link:focus {
    color: var(--color-error);
}

.link.active {
    color: var(--color-error); 
}