.container {
    position: relative;
    width: 100%;
    height: 696px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 64px;
}

.backgroundImage {
    object-fit: cover;           
    object-position: center;     
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
}

.title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--color-bg-light);
    margin-bottom: 16px;
}

.text {
    font-size: 24px;
    margin-bottom: 24px;
    color: var(--color-bg-light);
    margin-bottom: 40px;
}

.button{
    background-color: var(--color-error-dark);
    border-radius: 200px;
    width: 173px;
    height: 56px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover,
.button:focus {
    background-color: var(--color-error);
}