@import "modern-normalize";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary-dark: #101828;
  --color-primary: #475467;
  --color-primary-light: #6C717B;

  --color-error-dark: #E44848;
  --color-error: #D84343;

  --color-accent: #FFC531;

  --color-bg-light: #F7F7F7;
  --color-bg-lighter: #F2F4F7;
  --color-bg-grey: #DADDE1;

  --color-text-dark: #101828;
  --color-text: #475467;
  --color-white: #FFFFFF;

}

html,
body {
  overflow-x: hidden;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  margin: 0 auto;
}


@media screen and (min-width: 1440px) {
  section {
    padding: 0 64px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

img {
  display: block;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


