.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border: 1px solid #dadde1;
    border-radius: 20px;
    background: #fff;
    width: 100%;
}

.imageWrapper {
    width: 100%;
    height: 240px;
    flex-shrink: 0;
    overflow: hidden;
}

.image {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 12px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
}

.rightSidePrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 12px;
}

.price {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.ratingLocation {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 14px;
    margin-bottom: 16px;
}

.rating,
.location {
    display: flex;
    align-items: center;
    gap: 4px;
}

.description {
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-text-grey, #475467);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;

    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 16px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
}

.feature {
    background: #f2f4f7;
    border-radius: 100px;
    padding: 10px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    gap: 6px;
    color: var(--color-text-dark);
}

.featureIcon {
    width: 18px;
    height: 18px;
}

.showMoreBtn {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-error);
    color: #fff;
    border-radius: 200px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin-top: auto;
}

.favoriteBtn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.filterIconSvg {
    width: 16px;
    height: 16px;
}

.filterIconSvgHeart {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.favoriteBtn.animateHeart .filterIconSvgHeart {
    transform: scale(1.3);
}


@media screen and (min-width: 375px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .rightSidePrice {
        width: auto;
    }
}

@media screen and (min-width: 768px) {
    .card {
        flex-direction: row;
        padding: 24px;
        gap: 24px;
        height: 358px;
    }

    .imageWrapper {
        width: 290px;
        height: 100%;
    }

    .ratingLocation {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .description {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .showMoreBtn {
        width: 166px;
        height: 56px;
    }

    .showMoreBtn:hover {
        background: var(--color-error-dark);
    }
}