.reviewsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reviewCard {
    padding: 12px;
}

.reviewHeader {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.avatar {
    width: 60px;
    height: 60px;
    background-color: var(--color-bg-lighter);
    color: var(--color-error-dark);
    font-weight: bold;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewerInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.reviewerName {
    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
}

.reviewComment {
    color: var(--color-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.noReviews {
    color: #999;
    font-style: italic;
}