.heroSection {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 32px;
}

.catalogContainer {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.catalogLayout {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    gap: 32px;
}

.camperListMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.camperListWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.camperGrid {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.loadMoreContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.loadMoreButton {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--color-text-dark);
    background-color: transparent;
    border: 1px solid var(--color-bg-grey, #dadde1);
    border-radius: 200px;
    width: 145px;
    height: 56px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: border-color 0.3s ease;
}

.loadMoreButton::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 200px;
    border: 2px solid var(--color-error);
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 0;
}

.loadMoreButton:hover::before,
.loadMoreButton:focus::before {
    opacity: 1;
}

.centerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    width: 100%;
}

.resetButton {
    padding: 12px 24px;
    border-radius: 100px;
    border: 1px solid var(--color-bg-grey, #dadde1);
    background: transparent;
    color: var(--color-text-dark);
    cursor: pointer;
    font-size: 14px;
}

@media screen and (min-width: 375px) {
    .catalogContainer {

        max-width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .catalogContainer {
        padding: 0 32px;
        max-width: 768px;
    }

    .catalogLayout {
        gap: 48px;
    }
}

@media screen and (min-width: 1440px) {
    .heroSection {
        max-width: 1440px;
    }

    .catalogContainer {
        max-width: 1440px;
        padding: 0 64px;
    }

    .catalogLayout {
        flex-direction: row;
        padding-top: 48px;
        gap: 64px;
        align-items: flex-start;
    }

    .camperListMain {
        flex: 1;
    }

    .camperGrid {
        gap: 32px;
    }

    .loadMoreButton {
        margin-bottom: 52px;
    }
}