.galleryWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    margin-top: 16px;
    width: 100%;
}

.thumbs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    justify-content: center;
}

.thumb {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.2s, transform 0.2s;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 200px;
}

.img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 10px;
}

.thumb:hover {
    border-color: #0070f3;
}

.thumb.active {
    border-color: #ff6600;
}

@media screen and (min-width: 768px) {
    .thumbs {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .thumb {
        width: calc(50% - 12px);
        height: 250px;
    }
}

@media screen and (min-width: 1440px) {
    .galleryWrapper {
        margin-top: 28px;
    }

    .thumbs {
        flex-wrap: nowrap;
        gap: 48px;
    }

    .thumb {
        width: auto;
        height: auto;
    }

    .thumb:hover {
        transform: scale(1.01);
    }
}